**/*.pyc
p1_movietrailerwebsite/__pychache__
p2_tournamentplanner/vagrant/__pycache__
p2_tournamentplanner/vagrant/*.pyc
p2_tournamentplanner/vagrant/.vagrant
p2_tournamentplanner/vagrant/catalog
p2_tournamentplanner/vagrant/forum
