/*
Color scheme:
#170F11 - licorice
#402039 - dark purple
#F46036 - portland orange
#A1A6B4 - silver
#F3F9D2 - light goldenrod yellow
*/

body {
    background: #A1A6B4 !important;
}

h1 {
    color: #402039;
}

a {
    color: #F46036;
}

i {
    color: #A1A6B4;
}

p {
    color: #402039;
    font-size: 12pt;
}

label {
    color: #402039;
}

.container {
    background: #F3F9D2;
}
